.out_container {
  margin: 50px 25px 50px 25px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to right, #008891, #70af85);
}

.greet_vendor {
  border: none;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  background-image: linear-gradient(to right, #003366, #1a1a1a);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.vendor_img {
  border-radius: 50%;
  width: 10%;
  margin-left: 88%;
  margin-top: 1%;
}

.vendor_greeting_text {
  text-align: right;
  margin-right: 2%;
  color: antiquewhite;
}

.vendor_rate_list {
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
}

.list_heading {
  padding-bottom: 2%;
}

.rate_column {
  color: blue;
  border: none;
}

.bgeffect {
  background-color: #b3ecff;
  border: none;
  display: inline-block;
}
.update_rate {
  padding-top: 2%;
}

input {
  background-color: #b3ecff;
  color: black;
}
