/* MAIN CONTAINER */

.container {
  width: 90%;
  margin: 10px auto;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to right, #008891, #70af85);
}

/* HR TAG STYLING */
.division {
  width: 90%;
  border-top: 2px solid rgb(102, 100, 100);
  margin: 0 auto;
}

/* CARD STYLING */

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #b3e0ff;
  margin: 50px auto;

  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  width: 30%;
  height: 40%;
}

.cardDiv {
  padding-top: 1%;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #404040;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 2em;
  color: whitesmoke;
  display: flex;
  flex: 1;
  margin: 3% 20px 0;
}

.card img {
  margin: 30px 20px 0 0;
}

.circleImg {
  border-radius: 50%;
  border: 7px solid rgb(223, 220, 220);
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 120px;
}

.info {
  margin: 4% 0;
  color: #2d3436;
  font-weight: bold;
}

/* ADDRESS SECTION STYLING */
.address {
  width: 50%;
  margin: 5px auto;
}

.addressField {
  width: 70%;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  text-align: center;
  color: #2d3436;
  size: 1em;
}

/* CHANGE PASSWORD SECTION STYLING  */
.changePassword {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.changeButton {
  margin-left: 35%;
}

.lastButton {
  margin: 2% 0;
  margin-left: 44%;
}

.editable {
  margin-left: 10px;
  color: #2d3436;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.editable:hover {
  color: rgb(212, 235, 212);
  transform: scale(1, 1.1);
  transition: all 1s;
}

@media (max-width: 800px) {
  .card {
    width: 90%;
  }
  .address {
    width: 90%;
  }
  .lastButton {
    margin-left: 30%;
  }
  .changeButton {
    margin-left: 23%;
  }
  .changePassword {
    width: 70%;
  }
  .addressField,
  .editableForm {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .changeButton {
    margin-left: 0;
  }
  .lastButton {
    margin-left: 15%;
  }

  .name {
    font-size: 1em;
  }
}
.editableForm {
  width: 40%;
  /* background-color: blueviolet; */
  margin-left: auto;
  margin-right: auto;
}
.button123 {
  margin-left: 58%;
  width: 40%;
  margin-bottom: 20px;
}
